web-applications/datastores/Xml-Schema/xml/AddressAll.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:fhj="http://fhj.at"
	targetNamespace="http://fhj.at"
	elementFormDefault="qualified">
	
	<xsd:element name="address" type="fhj:AddressType"/>
	
	<xsd:complexType name="AddressType">
		<xsd:all>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="street" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="zip" type="xsd:int"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>

</xsd:schema>