secure-design/datastores/xml/Xml-Schema/xml/AddressAnonymousType.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:fhj="http://fhj.at"
	targetNamespace="http://fhj.at"
	elementFormDefault="qualified">
		
	<xsd:element name="address">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="street" type="xsd:string"/>
				<xsd:element name="city" type="xsd:string"/>
				<xsd:element name="zip" type="xsd:int"/>
				<xsd:element name="description" type="xsd:string"/>
			</xsd:sequence>
			<xsd:attribute name="country" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>